@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

/* 텍스트 가운데 줄긋기 */
.text_linethrough {
    text-decoration: line-through;
}
/* 텍스트 밑줄긋기 */
.text_underline {
    text-decoration: underline;
}
/* 텍스트 윗줄긋기 */
.text_overline {
    text-decoration: overline;
}